<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Home{% endblock %}</title>
    {% block stylesheet  %}
        <link rel="stylesheet" href="{{ asset('assets/css/reset.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('assets/css/owlCarousel/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/owlCarousel/owl.theme.default.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" type="text/css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
   {%  endblock %}
    {% block googleFont %}
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500" rel="stylesheet">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
{% block header %}
    <div class="d-flex justify-content-end header">
        {% if app.user %}

            <a href="">
                <button class="btn btn-outline-success my-2 my-sm-0 buttonPower" title="Se déconnecter"><img src="{{ asset('assets/img/powe-symbol-4OK.png') }}" width="26px;" height="auto;"></button>
            </a>

        {% else %}
            <a href="">
                <button class="btn my-2 my-sm-0 buttonPower" title="Se connecter"><img src="{{ asset('assets/img/powe-symbol-4OK.png') }}" width="26px;" height="auto;"></button>
            </a>
        {% endif %}
    </div>

        <div class="sidebar">
            <a class="navbar-brand" href="{{ path('homepage') }}"><img src="{{ asset('assets/img/logo_lol.png') }}" width="150px;"></a>



            <ul class="satishraj-tree-container">
                 <li class="tree-li diactive">
                    <span class="text">Competitive Play</span>
                     <ul class="tree-ul diactive">
                         <li class="tree-li">
                        <span class="text"><a href=""> Competitive Strats</a></span>
                         </li>
                    <li class="tree-li">
                     <span class="text"><a href=""> Teams</a></span>
                    </li>
                     </ul>
                 </li>
            </ul>

        </div>


<!--<nav id="FixNav" class="navbar navbar-expand-lg navbar-light sticky-top navbar-light headerNavMin"
     style="background-color: #43CBFF;">
    <div class="collapse sidebar-collapse" id="navbarSupportedContent">

        <!-- render(controller('AppBundle:Search:search')) }}-->

     <!--   <div class="form-inline navbar-nav ml-auto">
            <a href="">
                <button class="btn btn-outline-success my-2 my-sm-0 buttonHeaderCat">Voir le catalogue</button>
            </a>
            {##}% if app.user %}
                <a href="">
                    <button class="btn btn-outline-success my-2 my-sm-0 buttonHeader">Mon profil</button>
                </a>
                <a href="">
                    <button class="btn btn-outline-success my-2 my-sm-0 buttonPower" title="Se déconnecter"><img src="{{ asset('assets/img/powe-symbol-4OK.png') }}" width="26px;" height="auto;"></button>
                </a>
            {##}% else %}
                <a href="">
                    <button class="btn btn-outline-success my-2 my-sm-0 buttonHeader">S'identifier</button>
                </a>
                <a href="">
                    <button class="btn btn-outline-success my-2 my-sm-0 buttonHeader">S'inscrire</button>
                </a>
            {##}% endif %}
            <span class="pipeHeaderNavMin">|</span>
            <a href="">
                <button class="btn btn-outline-success my-2 my-sm-0 buttonHeaderNavMin" type="submit">Mon panier
                </button>
            </a>
        </div>
    </div>
</nav>-->
{% endblock %}
<body style="background-color: #00386D ">

{% block body %}{% endblock %}
</body>
        {% block javascripts %}
            <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/js/owlCarousel/owl.carousel.min.js') }}"></script>
            <script src="{{ asset('assets/js/main.js') }}"></script>
            <script src="{{ asset('assets/js/sidebartest.js') }}"></script>
            <script src="{{ asset('assets/js/topPage.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.collection.js') }}"></script>
        {% endblock %}
</html>
