{% extends 'base.html.twig' %}

{% block body %}
    <div class="content_strategy">
        <h1 class="strategy_name">{{ strategy.name }} </h1>
        <p class="description">
            {{ strategy.strategyContent.description }}
        </p>
       <div class="exemple">
            <h1 class="exmple">An Exemple Teamcomp for This Strategie to work :</h1>
                {%  for exemple in strategy.strategyContent.exemples %}
                    {% if exemple.lane == 'Toplane' %}
                        <img src="{{ asset('assets/img/champ/'~exemple.champs.name~'.png') }}" class="champs_image">
                    {% endif %}
                    {% if exemple.lane == 'Jungler' %}
                        <img src="{{ asset('assets/img/champ/'~exemple.champs.name~'.png') }}" class="champs_image">
                    {% endif %}
                    {% if exemple.lane == 'Midlane' %}
                        <img src="{{ asset('assets/img/champ/'~exemple.champs.name~'.png') }}" class="champs_image">
                    {% endif %}
                    {% if exemple.lane == 'Botlaner' %}
                        <img src="{{ asset('assets/img/champ/'~exemple.champs.name~'.png') }}" class="champs_image">
                    {% endif %}
                    {% if exemple.lane == 'Support' %}
                        <img src="{{ asset('assets/img/champ/'~exemple.champs.name~'.png') }}" class="champs_image">
                    {% endif %}
                {% endfor %}
        </div>
        <div class="makeitwork">
            <h1 class="howtomake">How to make this strategy work : </h1>
            <p class="settings">
                {{ strategy.strategyContent.settings }}
            </p>
        </div>
        <div class="contre">
            <h1 class="Counter">How to counter this strategy : </h1>
            <p class="counterstrat">
                {{ strategy.strategyContent.counterstrat }}
            </p>
        </div>
        <div class="teamusage">
            <h1 class="teamsthatuseit">Teams that use this strategy often :</h1>
            <!--
            Afficher le logo des teams utilisant cette strat souvent

        </div><!--
        <div class="comments">
            <h1 class="commentary">Comments</h1>
            {#{ Strategy_Content.comments }#}

            formulaire pour ajouter un commentaire

        </div>-->
    </div>
{% endblock %}